<%- include("cabeceras/cabeceras") %>
<body>
    <h1>Pagina dinamica de altas en db</h1>
    <h2><%= titulo %></h2>

    <ul>
        <li><%= marca %></li>
        <li><%= modelo %></li>
        <li><%= descripcion %></li>
    </ul>


</body>
</html>